<style>
    body {
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: sans-serif;
        text-align: center;
        padding-top:100px;
    }


    form {
        margin:0 auto;
        text-align: center;
        width: 80%;
        max-width: 500px;
    }

    input {
        padding:10px;
        font-size:20px;
        outline:none;
        margin-bottom:30px;
        width: 100%;
        border:none;
        background-color: rgb(246, 246, 246);
        border-radius: 30px;
        text-align: center;
    }

    #button
    {
        border:none;
        background:rgb(241, 27, 20);
        color:white;
        width:300px;
        cursor:pointer;
        padding:10px;
        border-radius: 30px;
        
    }


    @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


      body 
      {
          padding-top:350px;
      }

      h1 {
          font-size:70px;
      }

      #button
      {
          width: 90%;
          font-size:80px;
          border-radius: 0;
      }


      input 
      {
          font-size:50px;
          padding:30px;
          border-radius: 0;
          width:90%
      }

      form 
      {
          width:100%;
          max-width: none;
      }

}
</style>



<h1>Find-a-Pic</h1>
<p>Look at some beautiful pictures!</p>

<form action="/results" method="GET">
    <input id="search" type="text" name="search" required placeholder="Birds, Minimal, Street . . etc">
    <input id="button" type="submit" name="submit">
</form>